
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/sivakumar_s.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/sivakumar_s.xcuserdatad/xcschemes/xcschememanagement.plist
